body {
    font-family: 'Poppins';
}

.cabecalho {
    background-color: blue;
    display: flex;
    justify-content: space-between;
}

.cabecalho .logo {
    width: 65px;
}

.cabecalho .menu {
    background-color: red;
    display: flex;
    align-items: center;
    height: 100%;
}